# Python 快取
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境 (絕對不能傳，別人的電腦不能用你的環境)
venv/
.venv/
env/

# IDE 設定檔
.vscode/
.idea/

# 資料集 (通常不傳，因為可能很大)
data/

# Docker
.dockerignore

# 權重檔 (如果超過 100MB GitHub 會擋，建議先不傳，如果要傳請把下面這行刪掉)
*.pth